@model MyAcedemyPortfolioProject.Models.Entity.TblCategories
@{
    ViewBag.Title = "CategoryGet";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Edit Category Page</h4>
<br />
<form method="post">
    @Html.Label("ID", new { style = "visibility:hidden" })
    @Html.TextBoxFor(x => x.CategoryID, new { @class = "form-control", style = "visibility:hidden" })
    <br />
    @Html.Label("Category Name")
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Save</button>
</form>
