
<div class="container-fluid">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <div class="contact-form">
                    <div class="resume-section-content">
                        <form method="post">
                            <input type="text" class="form-control" name="Name" id="Name" placeholder="İsim Soyisim" required="required" data-validation-required-message="İsim Bilgisi Boş Bırakılamaz" />
                            <br />
                            <input type="email" class="form-control" name="Email" id="Email" placeholder="Mail Adresi" required="required" data-validation-required-message="Mail Bilgisi Boş Bırakılamaz" />
                            <br />
                            <input type="text" class="form-control" name="Subject" id="Subject" placeholder="Konu" required="required" data-validation-required-message="Konu Bilgisi Boş Bırakılamaz" />
                            <br />
                            <textarea class="form-control" name="MessageContent" id="MessageContent" placeholder="MessageContent" required="required" data-validation-required-message="Mesaj Bilgisi Boş Bırakılamaz"></textarea>
                            <br />
                            <button class="btn btn-outline-primary">Mesaj Gönder</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
